
body {
  background-color: beige;
  }
  
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing:auto;
    font-weight:(0,0,100);
    font-style: normal;
  }


h1 {
  font-family: "League Spartan", sans-serif;
    color: #1f1812;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 60px;
    margin-bottom: 0px;
    font-weight: bold;
}

h2 {
  font-family: "League Spartan", sans-serif;
  color: #124e78;
  padding-top: 20px;
  padding-left: 20px;
  font-size:36px;
  margin-top: 0px;
  font-weight: bold;
}

h3 {
  color: #6e0e0a;
  padding-top: 1px;
  padding-left: 35px;  
  font-size: 24px;
  font-family: "League Spartan", sans-serif;
}
 h4 {
  color: black;
  padding-top: 1px;
  padding-left: 40px;  
  font-size: 18px;
  font-family: "League Spartan", sans-serif;
 }

p {
  color: darkslategrey;
  padding-top: 1px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  line-height: 2;
  font-family: "montserrat";

}


  ul {
    font-family: "League Spartan", sans-serif;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 124px;
    background-image: url("../img/schedule/ulback.png");
  }

  li {
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
  }
 
  li a {
    display: block;
    color: #f3e2c6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  li a:hover:not(.active) {
    background-color: #961d30;
  }
 
  .active {
    background-color: #6e0e0a;
  }


body {
  background-image: url("../img/schedule/cssback.png");
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 400px) {
    ul {
      font-family: "League Spartan", sans-serif;
      list-style-type: none;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 124px;
      background-image: url("../img/schedule/ulback.png");
    }

   li {
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    }
 
    li a {
    display: block;
    color: #f3e2c6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
 
    li a:hover:not(.active) {
    background-color: #961d30;
    }
 
    .active {
    background-color: #6e0e0a;
    }

    h1 {
      font-family: "League Spartan", sans-serif;
        color: #1f1812;
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
        font-size: 40px;
        margin-bottom: 0px;
        font-weight: bold;
      }
    }